<form nz-form [formGroup]="form">
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="account" nzRequired>登录账号</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input formControlName="account" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="name" nzRequired>用户昵称</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input formControlName="name" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="roleId" nzRequired>所属角色</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-tree-select #roleTreeSelect [nzNodes]="roleTree" formControlName="roleId" nzCheckable nzShowSearch nzDefaultExpandAll>
            </nz-tree-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="realName">用户姓名</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input formControlName="realName" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="phone">手机号</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input formControlName="phone" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">电子邮件</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input formControlName="email" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="sex">用户性别</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-select formControlName="sex">
                <nz-option *ngFor="let item of sexDict" [nzLabel]="item.dictValue" [nzValue]="item.dictKey"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="birthday">用户生日</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-date-picker formControlName="birthday" class="w"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="avator">头像</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <app-s-upload [isPicture]="true" [(fileList)]="avatorfileList" [link]="link"></app-s-upload>
        </nz-form-control>
    </nz-form-item>
</form>
<div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button type="submit" nzType="primary" (click)="saveAndClose()">保存</button>
</div>
