<div class="app-right-panel-content">
    <!--概况-->
    <div class="flex flex-column">
        <div class="cfff fs16">报警类别统计</div>
        <img src="./assets/img/split.png" alt="" class="split-img" />
        <div class="pt30 pb30">
            <div class="flex align-items-center pl20 mt5">
                <div class="cfff mr30 fs14">漏电报警</div>
                <div class="line-content mr30">
                    <nz-progress
                        [nzStrokeWidth]="20"
                        [nzStrokeColor]="{ from: '#05101D', to: '#0D6F87' }"
                        [nzPercent]="pieInfo?.leakageRate * 100"
                        nzStatus="active"
                        [nzShowInfo]="false"
                    >
                    </nz-progress>
                    <!--                    <div class="line-body-normal" [ngStyle]="{'width':baseInfo?.smartElectricityOnRate*100+'%'}"></div>-->
                </div>
                <div class="fs12" style="color: #1adfe0">{{ (pieInfo?.leakageRate * 100).toFixed(2) }}%</div>
            </div>

            <div class="flex align-items-center pl20 mt5">
                <div class="cfff mr30 fs14">温感报警</div>
                <div class="line-content mr30">
                    <nz-progress
                        [nzStrokeWidth]="20"
                        [nzStrokeColor]="{ from: '#170C15', to: '#600F0B' }"
                        [nzPercent]="pieInfo?.temperatureRate * 100"
                        nzStatus="active"
                        [nzShowInfo]="false"
                    >
                    </nz-progress>
                    <!--                    <div class="line-body-unline" [ngStyle]="{'width':baseInfo?.smartElectricityOffRate*100+'%'}"></div>-->
                </div>
                <div class="fs12" style="color: #1adfe0">{{ (pieInfo?.temperatureRate * 100).toFixed(2) }}%</div>
            </div>
        </div>
        <div class="flex mt20 justify-content-between radioStyle">
            <div class="cfff fs16">用电量统计</div>
            <div>
                <nz-radio-group [(ngModel)]="radioValue" nzSize="large" style="color: #0edbe5" (ngModelChange)="radioChange($event)">
                    <label nz-radio nzValue="day">日</label>
                    <label nz-radio nzValue="month">月</label>
                    <label nz-radio nzValue="year">年</label>
                </nz-radio-group>
            </div>
        </div>
        <img src="./assets/img/split.png" alt="" class="split-img" />
        <div id="mainLine" class="mainLine"></div>
        <div style="margin-bottom: -30px" class="flex-column flex radioStyle">
            <div class="flex mt20 justify-content-between">
                <div class="cfff fs16">负荷曲线</div>
                <div>
                    <nz-radio-group [(ngModel)]="radioValue" nzSize="large" style="color: #0edbe5" (ngModelChange)="radioChange($event)">
                        <label nz-radio nzValue="day">日</label>
                        <label nz-radio nzValue="month">月</label>
                        <label nz-radio nzValue="year">年</label>
                    </nz-radio-group>
                </div>
            </div>
            <img class="split-img" src="./assets/img/split.png" />
        </div>
        <div id="main" class="main" style=""></div>
    </div>
</div>
