<div class="flex fullscreen">
    <div class="pl10">
        <div class="alarm-type">
            <div class="cfff fw fs16 tc ls2 pt5 mb10">设备列表</div>

            <div style="width: 95%; height: 92%; overflow: auto">
                <div class="pt20">
                    <nz-select class="pl100 mb10 fs14 w260" [ngModel]="selLis[0].deviceCategoryId" (ngModelChange)="changeDevice($event)">
                        <nz-option [nzValue]="item?.deviceCategoryId" [nzLabel]="item?.name" *ngFor="let item of selLis"></nz-option>
                    </nz-select>

                    <!--                    <nz-select ngModel="1" style="width: 150px;">-->
                    <!--                        <nz-option nzValue="1" nzLabel="智能插座"></nz-option>-->
                    <!--                        <nz-option nzValue="2" nzLabel="智慧用电"></nz-option>-->
                    <!--                    </nz-select>-->

                    <ng-container *ngFor="let item of deviceList">
                        <div class="cfff pl100 mb10">
                            <span
                                class="cp itemlist fs14"
                                (click)="clickItem(item)"
                                [ngClass]="item?.id == selectedItem['id'] ? 'itemlist-active' : ''"
                                >{{ item?.name }}</span
                            >
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="flex1 h">
        <!--打开iframe注释-->
        <iframe
            class="bd0"
            src="https://www.thingjs.com/s/07c445179cc90d221041348c?params=105b0f77fd24654d4eebc434e9"
            width="100%"
            height="100%"
            #iframe
        ></iframe>
    </div>
</div>
