<div class="bigModal" style="overflow: auto">
    <div flex style="" class="titleBtn">
        <div class="dialog-title cfff">编辑</div>
    </div>

    <div class="mb30 line" style=""></div>

    <form [formGroup]="form">
        <nz-form-item>
            <nz-form-label nzSpan="3" nz-col>
                <span class="cfff">负责人</span>
            </nz-form-label>
            <nz-form-control nzSpan="7" nz-col>
                <input nz-input type="text" placeholder="请输入名称" formControlName="name" />
                <nz-form-explain *ngIf="form.get('name').dirty && form.get('name').errors">
                    <ng-container *ngIf="form.get('name').hasError('required')"> 该输入项为必输项 </ng-container>
                    <ng-container *ngIf="form.get('name').hasError('maxlength')"> 输入长度小于100 </ng-container>
                </nz-form-explain>
            </nz-form-control>
            <button class="ml10" nz-button nzType="primary" (click)="addStage()">添加负责人</button>
        </nz-form-item>
        <div nzSpan="24">
            <div class="childrenFormContent mb10" formArrayName="linkman" *ngFor="let content of linkman.controls; let formIndex = index">
                <div [formGroupName]="formIndex.toString()">
                    <nz-row>
                        <nz-form-item nzSpan="10" nz-col class="flex mb0">
                            <nz-form-label nzSpan="8" nz-col>
                                <span class="cfff">区域名称</span>
                            </nz-form-label>
                            <nz-form-control nz-col nzSpan="16">
                                <input nz-input type="text" formControlName="personName" placeholder="请输入区域名称" />
                                <nz-form-explain
                                    *ngIf="
                                        form.get(['linkman', formIndex.toString(), 'personName']).dirty &&
                                        form.get(['linkman', formIndex.toString(), 'personName']).errors
                                    "
                                >
                                    <ng-container *ngIf="form.get(['linkman', formIndex.toString(), 'personName']).hasError('required')">
                                        该输入项为必输项
                                    </ng-container>
                                </nz-form-explain>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nzSpan="10" nz-col class="flex mb0">
                            <nz-form-label nzSpan="8" nz-col>
                                <span class="cfff">联系方式</span>
                            </nz-form-label>
                            <nz-form-control nz-col nzSpan="16">
                                <input nz-input type="text" formControlName="phoneNumber" placeholder="联系方式" />
                                <nz-form-explain
                                    *ngIf="
                                        form.get(['linkman', formIndex.toString(), 'phoneNumber']).dirty &&
                                        form.get(['linkman', formIndex.toString(), 'phoneNumber']).errors
                                    "
                                >
                                    <ng-container *ngIf="form.get(['linkman', formIndex.toString(), 'phoneNumber']).hasError('required')">
                                        该输入项为必输项
                                    </ng-container>
                                    <ng-container *ngIf="form.get(['linkman', formIndex.toString(), 'phoneNumber']).hasError('pattern')">
                                        手机格式错误
                                    </ng-container>
                                </nz-form-explain>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-control nzSpan="3" nz-col>
                            <button *ngIf="formIndex != 0" nz-button nzType="primary" nzDanger class="ml5" (click)="removeStage(formIndex)">
                                删除
                            </button>
                        </nz-form-control>
                    </nz-row>
                </div>
            </div>
        </div>
    </form>

    <div class="flex justify-content-end pr20">
        <span class="p10 cfff cp mr15 cancelBtn" (click)="cancel()">取消</span>

        <span class="p10 cfff cp submitBtn" (click)="submit()">提交</span>
    </div>
</div>
