<div class="flex fullscreen flex-column">
    <div>
        <div class="align-items-center flex w justify-content-end pr20">
            <div class="cfff w70 mr5" cfff>开始时间</div>

            <nz-date-picker
                [nzAllowClear]="false"
                [(ngModel)]="dateMonth1"
                nzPlaceHolder="请选择"
                (ngModelChange)="changeD1($event)"
            ></nz-date-picker>

            <span pl5 pr5>-</span>

            <div class="cfff w70 mr5">结束时间</div>

            <nz-date-picker
                [nzAllowClear]="false"
                [(ngModel)]="dateMonth2"
                nzPlaceHolder="请选择"
                (ngModelChange)="changeD2($event)"
            ></nz-date-picker>

            <!--            <div title="查询" (click)="search()"-->
            <!--                 style="width: 30px;height: 30px;background-color: #15AFB2;border-radius: 5px"-->
            <!--                 class="justify-content-center align-items-center cp ml20 flex">-->
            <!--                <img src="./assets/img/search.svg" alt="" style="width: 15px;height: 15px;">-->
            <!--            </div>-->
        </div>
    </div>

    <div class="w mb30 row h300" style="background-color: rgba(9, 1, 22, 0.6)">
        <div class="col-3-4">
            <div class="flex-column flex pl20">
                <div class="cfff mt20">报警统计</div>
                <img src="./assets/img/split.png" alt="" class="imgs" />
            </div>
            <div id="alarm_spss" class="w alarm_spss"></div>
        </div>
        <div class="col-1-4">
            <div class="flex-column flex pl20">
                <div class="cfff mt20">报警类别</div>
                <img src="./assets/img/split.png" alt="" class="imgs" />
            </div>
            <div id="alarm_type" class="w alarm_type"></div>
        </div>
    </div>

    <div class="w row h300" style="background-color: rgba(9, 1, 22, 0.6)">
        <div class="col-3-4">
            <div class="flex-column flex pl20">
                <div class="cfff mt20">故障统计</div>
                <img src="./assets/img/split.png" alt="" class="imgs" />
            </div>
            <div id="fault_spss" class="w fault_spss"></div>
        </div>
        <div class="col-1-4">
            <div class="flex-column flex pl20">
                <div class="cfff mt20">故障类别</div>
                <img src="./assets/img/split.png" alt="" class="imgs" />
            </div>
            <div id="fault_type" class="w fault_type"></div>
        </div>
    </div>
</div>
