:host {
    ::ng-deep {
        .fullscreen {
            width: 1920px;
            height: calc(100vh - 200px);
            //background-color: #0D6F87;
            padding: 20px;
        }

        .ant-calendar-picker {
            width: 150px !important;
            color: #fff;
        }

        .ant-input {
        }

        .anticon-calendar {
            color: #15afb2;
        }

        .ant-calendar-picker-clear {
            background: inherit !important;
        }

        .ant-picker {
            background: unset !important;
            //border: 1px solid #15AFB2;

            //background-color: #07143a;
            opacity: 0.8;
            outline-style: none;
            color: #fff !important;
            border: 1px solid #15afb2;
        }

        .ant-picker-input > input {
            color: unset !important;
        }

        .alarm-type {
            width: 357px;
            height: 574px;
            background-image: url('../../../../../assets/img/device-left.png');
            background-size: contain;
        }

        .itemlist-active {
            background: linear-gradient(to right, #091d30, #0d4857, #091d30);
            color: #0efbfd !important;
            font-weight: bold;
        }

        .itemlist {
            //width: 50%;float:left;background-repeat: round;background-size: cover;
            padding: 5px 10px 5px 10px;
        }

        .CFCED1 {
            color: #cfced1;
        }

        .tableBD {
            width: 1483px;
            height: 717px;
            background-image: url('../../../../../assets/img/tablebd.png');
            padding: 20px;
            background-size: contain;
        }

        .ant-table-thead > tr > th {
            border-bottom: 0 !important;
            background-color: rgba(9, 109, 217, 0.17) !important;
        }

        .ant-table {
            background-color: transparent !important;
            border: 1px solid #09576d;
        }

        .ant-input {
            background: transparent !important;
            border: 1px solid #15afb2;
            color: #ccc !important;
        }
        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
            background-color: rgba(9, 109, 217, 0.17) !important;
            border-color: rgba(9, 109, 217, 0.17) !important;
        }
        .ant-select {
            color: #bfbfbf !important;
        }
        .ant-table-thead > tr > th,
        .ant-table-tbody > tr > td,
        .ant-table tfoot > tr > th,
        .ant-table tfoot > tr > td {
            padding: 14px !important;
        }
    }
}
