<div class="top pl30 flex align-items-center cfff">
    <img src="./assets/img/shuibiao.png" alt="" style="width: 30px;" class="mr10"/>
    <div class="mr20">XX楼XX区9号水表</div>

    <div class="mr20">用途: <span>绿化</span></div>
    <div class="mr20">当前读数: <span>212121</span></div>
    <div class="mr20">电压: <span>3.52</span></div>
    <div>信号强度: <span>15</span></div>
</div>
<div class="content">
    <div class="content-title cfff">近24小时用水量</div>
    <div class="content-body">
        <div id="chart" class="w chart"></div>
    </div>
</div>
