<div class="flex fullscreen flex-column">
    <div class="flex justify-content-end pr50 radioStyle">
        <nz-radio-group [(ngModel)]="searchData.dateType" nzSize="large" style="color: #0edbe5" (ngModelChange)="radioChange($event)">
            <label nz-radio nzValue="day"> 日 </label>
            <label nz-radio nzValue="month"> 月 </label>
            <label nz-radio nzValue="year"> 年 </label>
        </nz-radio-group>
    </div>

    <div class="w mb30 flex h300" style="background-color: rgba(9, 1, 22, 0.6)">
        <div class="w">
            <div class="flex-column flex pl20">
                <div class="cfff mt20 fs16">智能插座能耗统计</div>
                <img src="./assets/img/split.png" alt="" class="imgs" />
            </div>
            <div id="alarm_spss" class="w alarm_spss"></div>
        </div>
    </div>

    <div class="w mb30 flex pt30" style="background-color: rgba(9, 1, 22, 0.6)">
        <div class="pl10">
            <div class="alarm-type">
                <div class="cfff fw fs16 tc ls2 pt5 mb10">设备列表</div>

                <div style="width: 95%; height: 92%; overflow: auto">
                    <div class="pt20">
                        <ng-container *ngFor="let item of deviceList">
                            <div class="cfff pl100 mb10 cp" (click)="clickItem(item)">
                                <span class="cp itemlist fs14" [ngClass]="item?.id == selectedItem?.id ? 'itemlist-active' : ''">{{
                                    item?.name
                                }}</span>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex1 flex justify-content-end pr10">
            <div class="tableBD">
                <nz-table
                    class="fix-table even-table"
                    #table
                    [nzNoResult]="noResultTemplate"
                    [nzShowSizeChanger]="true"
                    [nzFrontPagination]="false"
                    [nzShowTotal]="totalTemplate"
                    [nzTotal]="pageInfo.total"
                    [(nzPageIndex)]="pageInfo.pi"
                    [(nzPageSize)]="pageInfo.ps"
                    [nzData]="dataList"
                    [nzLoading]="pageInfo.loading"
                    (nzPageIndexChange)="loadDeviceUpData()"
                >
                    <thead>
                        <tr>
                            <th>抄表时间</th>
                            <th>电流</th>
                            <th>电压</th>
                            <th>功率</th>
                            <th>用电量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of table.data; let i = index">
                            <td>{{ data.createTime | date: 'yyyy-MM-dd HH:mm' }}</td>
                            <td>{{ data.jsonData.electricity ? data.jsonData.electricity : '0' }}A</td>
                            <td>{{ data.jsonData.voltage ? data.jsonData.voltage : '0' }}V</td>
                            <td>{{ data.jsonData.power ? (data.jsonData.power / 1000).toFixed(2) : '0' }}kw</td>
                            <td>{{ data.jsonData.electricQuantity ? data.jsonData.electricQuantity : '0' }}kwh</td>
                        </tr>
                    </tbody>
                    <ng-template #totalTemplate let-total class="sysy"> 共 {{ total }} 条数据</ng-template>
                    <ng-template #noResultTemplate>
                        <div class="flex flex-column align-items-center">
                            <img src="../../../../../assets/img/no-result.png" alt="" class="no-result-img" />
                            <span style="color: #7a7e8b">暂无数据</span>
                        </div>
                    </ng-template>
                </nz-table>
            </div>
        </div>
    </div>
</div>
